
.light{
    background-color: white;
    
    color: black;
}
.dark{
    background-color: black;
    color:white;
}
.bt-light{
    background-color: rgb(209, 7, 7);
    
    color: rgb(0, 0, 0);
}
.bt-dark{
    background-color: rgb(91, 10, 172);
    color:white;
}